<div class="col s12 m12 l6">
  <div class="card medium hoverable">
    <div class="card-image">
      {{!-- replace with image of whiteboard instead of a set image --}}
      <img src="/images/whiteboard-example.png">
    </div>
    <div class="card-content">
      <span class="card-title board-title">{{title}}</span>
      <p class="sans-serif">by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="card-action">
      <a href="/board/{{id}}">View this board</a>
    </div>
  </div>
</div>
