<article class="board">
  <div class="title">
    <span>{{title}}</span>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
  </div>
  <div>
    <span>{{board_description}}</span>
  </div>
</article>
