:root {
  --color-gold: #d79922;
  --color-beige: #efe2ba;
  --color-vermillion: #f13c20;
  --color-dark-blue: #4052a1;
  --color-baby-blue: #c6e0fdfa;
  --color-egg-shell: #f0ead6;
  --color-forest: #10491e;
  --color-leaf: #7b7200;
  --color-egg-shell: #f1eff1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yusei Magic", serif;
  background-color: var(--color-beige);
}

nav {
  background-color: var(--color-dark-blue);
  width: 100%;
}

nav .brand-logo {
  color: var(--color-gold);
  padding-left: 0.5em;
}

nav .right li {
  margin-right: 0.4em;
  max-height: 64px;
  font-size: 18px;
}

nav input[type="search"] {
  margin: 50% auto;
  border-bottom-width: 0px !important;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color-gold);
  width: calc(100% - 1rem);
  height: 100%;
}

nav input[type="search"]:focus {
  border-radius: 2px;
  background-color: var(--color-vermillion);
  text-emphasis-color: #111111;
  color: #111111;
}

.page-footer {
  background-color: var(--color-dark-blue);
  color: var(--color-gold);
}

.modal {
  background-color: var(--color-baby-blue);
}

.modal .modal-footer {
  background-color: var(--color-baby-blue);
  text-align: center;
}

.modal-info {
  text-align: center;
}

.modal#login-modal {
  width: 40% !important;
  height: 40% !important;
}

.btn {
  background-color: var(--color-gold);
}

.btn-info {
  width: 100%;
  text-align: left;
}

.btn.waves-effect {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 50px;
}

.btn.waves-effect .material-icons {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
}

.btn:hover {
  background-color: var(--color-vermillion);
}

.editor-wrapper {
  width: 100%;
}

#board-editor {
  border-style: solid;
  border-radius: 3px;
  margin: 10px;
}

.board-title {
  font-family: "Yusei Magic", serif;
  color: var(--color-dark-blue);
}

.sans-serif {
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

.input-field input:focus + label,
.input-field textarea:focus + label {
  color: var(--color-dark-blue) !important;
}

.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid var(--color-dark-blue) !important;
  box-shadow: 0 1px 0 0 var(--color-dark-blue) !important;
}

.divider {
  background-color: var(--color-gold);
}

#c {
  background-color: var(--color-egg-shell);
  border: 3px solid black;
  border-radius: 10px;
}
